.DS_Store
vue/node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
.idea
package-lock.json
target
.idea/
*.iws
*.iml
*.iprhome\
/**/.settings
/**/.classpath
/**/.project
/**/target
/**/*.log
/**/*.log.*
/*/vue